:root {
  box-sizing: border-box;
  background-color: black;
}

html {
  font-size: 62.5%;
  /** 10px **/
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

.home-page {
  display: flex;
  flex-direction: row;
}
.home-page-access {
  background: url(../images/photo1637945168\(3\).png);
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.home-page-access a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.home-page-access a:not(:first-child) {
  margin-bottom: 10px;
  margin-left: 10px;
}
.home-page-access a img {
  margin-right: 10px;
}
.home-page-access__logo {
  margin-bottom: 70px;
}
.home-page-access__logo img {
  height: 52px;
}
.home-page-body {
  width: 83%;
}

.home-page-body {
  width: 83%;
}
.home-page-header {
  background: url(../images/photo1637945168\(1\).png);
  background-size: cover;
  width: auto;
  height: 7.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.home-page-header a {
  text-decoration: none;
  color: #fff;
}

.home-page-header__search {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}
.home-page-header__search button {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}
.home-page-header__search--search-bar {
  line-height: 1.8;
  border: 0;
  border-radius: 10px;
}
.home-page-header__search--search-bar::placeholder {
  color: #808080;
}
.home-page-header__search--search-bar:focus {
  outline: 0;
}
.home-page-header__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-page-header__profile p {
  margin-right: 10px;
}
.home-page-header__profile div {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*****************/
.trends-for-you {
  position: relative;
  background-image: url("../images/photo1637945168\(3\).png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 400px;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 5px;
  color: white;
}

.trends-for-you h1 {
  font-size: 130%;
  margin-bottom: 50px;
}
.see-more {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}
.see-more a {
  text-decoration: none;
  color: white;
}
/******************/
.article-middle-top {
  width: 100%;
  text-align: left;
  color: white;
}
.article-middle-top img {
  margin-right: 5px;
}

.article-middle-middle {
  color: white;
}
.article-middle-middle h1 {
  display: inline;
}
/*****************/
.you-should-follow {
  position: relative;
  background-image: url("../images/photo1637945168\(3\).png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 5px;
  color: white;
}

.you-should-follow h1 {
  font-size: 130%;
  margin-bottom: 50px;
}
.you-should-follow input {
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 40px;
}

.follow-recommend {
  margin-top: 10px;
  text-align: left;
  padding-left: 10px;
}
.follow-recommend p {
  display: inline;
}
.see-all {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
}
.see-all a {
  text-decoration: none;
  color: white;
}
/***************/

